@tailwind components;
@tailwind utilities;

.tab-group .tab-menu {
    @apply tabs-border-l-gray-200 tabs-border-r-gray-200 tabs-border-gray-200 tabs-relative tabs-z-0 tabs-divide-x
    dark:tabs-border-gray-700 dark:tabs-divide-gray-700 tabs-bg-white dark:tabs-bg-gray-800 tabs-rounded-lg
    tabs-border-b tabs-mx-auto tabs-overflow-x-auto;
    display: flex; /* Set flex display manually to circumvent tailwind circular dependency */
}

.tab-group .tab-item {
    @apply tabs-relative tabs-min-w-min tabs-flex-shrink-0 tabs-flex-1 tabs-overflow-hidden
    tabs-bg-white tabs-py-4 tabs-px-4 dark:tabs-bg-gray-800 tabs-font-semibold tabs-text-center tabs-cursor-pointer
    focus:tabs-z-10 first:tabs-rounded-tl-lg first:tabs-rounded-bl-lg last:tabs-rounded-tr-lg last:tabs-rounded-br-lg;
}
.tabs-border-b-primary-500 {
    border-bottom-color: rgba(var(--colors-primary-500));
}

.tabs-text-primary-500 {
    color: rgba(var(--colors-primary-500));
}
